.all{
    margin-top: 230px;
    padding: 30px 30px;
    display: flex !important;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* width: 100%; */
  

}
.all .box{
    width: 350px;
    height: 300px;
position: relative;
margin: 10px;

}
.all .box img{
    width: 100%;
    height: 100%;
}
