.items{
    position: absolute;
    top: 20%;
    left: 55%;
    transform: translate(-55%, 0%);
    width: 100%;
}

.itemss{
    display: flex;
    flex-wrap: wrap;
    justify-content: center !important;
    gap: 3rem;
}

.head button{
    padding: 6px 25px;
    font-size: 17px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: rgb(46, 46, 248);
    margin-right: 50px !important;
}
.addItem{
    position: fixed !important;
    right: 0;
    top: 0;

}