.collections{
  width: 100%;
  padding: 10px 25px;
  position: relative;

}
.collections h1{
    display: flex;
  justify-content: center;
  margin: 0 0 40px;
  font-size: 25px;
}
.all-collections{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}