.oneCollection{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    color: #000;
    text-decoration: none !important;
    /* position: absolute;
    top: 20%;
    left: 25%; */
}

h2{
    text-decoration: none !important;
    padding: 5px 0;
    
}