.oneCollection{
    display: flex;
    position: relative;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    color: #000;
    width: 130px;
    text-decoration: none !important;
}

h2{
    text-decoration: none !important;
    padding: 5px 0;
    
}